<body>
  <br />

  <div class="header">
    <h4>Vacation in Space</h4>

  </div>
  <div class="row">
    <div class="col-sm-2">
      <a href="https://twitter.com/intent/tweet?button_hashtag=spacex&ref_src=twsrc%5Etfw"
        class="twitter-hashtag-button" data-url="https://twitter.com/SpaceX?s=17" data-show-count="false">Tweet
        #spacex</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-sm-8">
      <div class="searchBody"></div>

      <form #byDest="ngForm" *ngIf="!selected && !show">
        <select name="destination" ngModel>
          <option value="">---select a destination---</option>
          <option *ngFor="let trip of trips" value="{{ trip.destination }}">{{
            trip.destination
          }}</option>
        </select>
        <button type="submit" (click)="searchByDest(byDest)" name="searchDest" id="btn2">
          Submit
        </button>
      </form>

      <form #byComp="ngForm" *ngIf="!selected && !show">
        <select name="companies" ngModel>
          <option value="">---select a company---</option>
          <option *ngFor="let companies of companiess" value="{{ companies.name }}">{{ companies.name }}</option>
        </select>
        <button type="submit" (click)="searchByComp(byComp)" name="searchComp" id="btn2">
          Submit
        </button>
      </form>

      <!-- <div ng-controller="byDestin">
        <select ng-model="trip.destination"
          ng-options="trip.destination as trip.destination for trip.destination for trip in trips">
        </select> -->




      <!-- <form name="byDestination">
     <select name="destination" [(ngModel)]="trip.destination">
       <option ng-repeat="trip in trips" value="{{trip.destination}}"></option>
<button type="submit" (click)="searchByDest()" name="searchDest">Click</button>
</select>
</form>
  </div> -->

      <div class="caro" *ngIf="!selected && !show">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/StarshipOnMoonBase.jpg" width="600px" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/SpaceHotel.jpg" width="600px" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/MartianColony.jpg" width="600px" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
              </p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>

  <div class="showall" *ngIf="show">
    <div *ngFor="let trip of trips">
      <!-- need to update button to refect just companies or destinations-->
      <div class="card" style="width:800px">
        <div class="card-body">
          <img class="card-img-left" src="{{ trip.photoUrl }}" style="width: 250px" alt="space image" />
          <h5 class="card-title">{{ trip.title }}</h5>
          <p class="card-text"><b>Destination:</b> {{ trip.destination }}</p>
          <p class="card-text"><b>Number of days: </b>{{ trip.length }}</p>
          <p class="card-text"><b>Departure Date:</b> {{ trip.date }}</p>
          <p class="card-text"><b>$</b>{{ trip.cost }}</p>
        </div>
      </div>
      <div class="card-body">
        <button align="bottom right">View More</button>
      </div>
    </div>
  </div>
</body>
