<body>

  <div class="header">
    <h1>Vacation in Space</h1>
    <h3>To the Moon and Back or Beyond</h3>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="searchBody"></div>

      <form #byDest="ngForm" id="form1" *ngIf="!selected && !show">
        <select name="destination" ngModel>
          <option value="">---select a destination---</option>
          <!-- <option *ngFor="let trip of trips" value="{{ trip.destination }}">{{trip.destination}}</option> -->
          <option value="Saturn">Saturn</option>
          <option value="LEO">LEO</option>
          <option value="GEO">GEO</option>
          <option value="Space Hotels">Space Hotels</option>
          <option value="Moon">Moon</option>
          <option value="Venus">Venus</option>
          <option value="Mars">Mars</option>
          <option value="Earth to Earth">Earth to Earth</option>
          <option value="ISS">International Space Station</option>
        </select>
        <button type="submit" (click)="searchByDest(byDest)" style="margin: 16px" name="searchDest" id="btn2">
          Submit
        </button>
      </form>
      <form #byComp="ngForm" id="form2" *ngIf="!selected && !show">
        <select name="companies" ngModel>
          <option value="">---select a company---</option>
          <!-- <option *ngFor="let companies of companiess" value="{{ companies.name }}">{{ companies.name }}</option> -->
          <option value="1">Space X</option>
          <option value="2">United Launch Alliance</option>
          <option value="3">Blue Origin</option>
          <option value="4">Virgin Galactic</option>
          <option value="6">NASA</option>
          <option value="7">Bigelow Aerospace</option>
          <option value="8">Boeing</option>
          <option value="9">Sierra Nevada Corporation</option>
        </select>
        <button type="submit" (click)="searchByComp(byComp)" style="margin: 20px" name="searchComp" id="btn3">Submit
        </button>
      </form>

      <div class="caro" *ngIf="!selected && !show">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/GoOrbital2.jpg" width="600px" class="border border-primary" alt="Random second slide" />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/GoOrbital1.jpg" width="600px" class="border border-primary" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="/assets/img/GoOrbital4.jpg" width="600px" class="border border-primary" alt="Random third slide" />
              </div>
              <div class="carousel-caption">
              </div>
            </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>

  <div class="showall"  *ngIf="show">
      <!-- need to update button to refect just companies or destinations-->
      <div *ngFor='let curTrip of trips' class="card" style="width:800px">
        <div class="card-body">
          <img class="card-img-left" src="{{ curTrip.photoUrl }}" style="width: 500px" alt="space image" />
          <h5 class="card-title">{{ curTrip.title }}</h5>
          <p class="card-text"><b>Destination:</b> {{ curTrip.destination }}</p>
          <p class="card-text"><b>Number of days: </b>{{ curTrip.length }}</p>
          <p class="card-text"><b>Departure Date:</b> {{ curTrip.date }}</p>
          <p class="card-text"><b>$</b>{{ curTrip.cost }}</p>
        </div>
      </div>
      <div class="card-body">
        <button align="bottom right">View More</button>
      </div>
  </div>
</body>
