.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  opacity:1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity:0.5;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

button {
  align-content: right;
}

body {background-color: #92a8d1;}
