<body>
    <!-- <img src='/assets/img/moon.jpg'> -->
    <h1> Welcome {{selected.firstName}} &nbsp {{selected.lastName}}</h1>
    <h3>This is your account page.</h3>
    <div class="center-container">
        <!--begins a container to center page / ends at bottom-->
        <!--ADD *ngIf="selected"  after things work, currently no traveler sent in-->
        <div class="start">
            <form>
                <a> Get My Trips :<button (click)="setDisplayMyTrips()" style="margin: 20px">VIEW TRIPS</button><br></a>

                <a> Update Personal Information :<button (click)="setEditTraveler()" style="margin: 20px">EDIT MY INFO</button><br></a>
            </form>
        </div>
    </div>

    <div class="editTraveler">
        <!-- *ngIf="selected && editTraveler to ngIf-->
        <form #updateTraveler='ngForm'>
            <table align="center">
                <tr>
                    <td>User Name </td>
                    <td><input type='text' name='editUserName' ngModel size='40' placeholder={{selected.user.username}}/></td>
                </tr>
                <tr>
                    <td>User Password </td>
                    <td> <input type='password' name='editPassword' ngModel size='40' placeholder={{selected.user.password}}/> </td>
                </tr>
                <tr>
                    <td>Email </td>
                    <td><input type='text' name='editEmail' ngModel size='40' placeholder={{selected.user.email}}/> </td>
                </tr>
                <tr>
                    <td>First Name </td>
                    <td><input type='text' name='editFirstName' ngModel size='40' placeholder={{selected.firstName}}/> </td>
                </tr>
                <tr>
                    <td>Last Name </td>
                    <td><input type='text' name='editLastName' ngModel size='40' placeholder={{selected.lastName}}/> </td>
                </tr>
                <tr>
                    <td>Photo Url</td>
                    <td><input type='text' name='editPhotoUrl' ngModel size='40' placeholder={{selected.photoURL}}/> </td>
                </tr>
            </table>
            <br><button type='submit' (click)='changeTraveler(updateTraveler)'>UPDATE MY INFO</button>
        </form>
    </div>

    <div class="displayTrips" align='center'>
        <!-- add *ngIf="selected && displayTrips-->

        <table align='center' *ngFor='let tripRecord of tripRecords'>
            <tr>
                <td>Review ID</td>
                <td>{{selected.travelerTrip.id}}"></td>
            </tr>
            <tr>
                <td>Trip ID</td>
                <td>{{selected.travelerTrip.trip.id}}</td>
            </tr>
            <tr>
                <td>Destination</td>
                <td>{{selected.travelerTrip.trip.destination}}</td>
            </tr>
            <tr>
                <td>Description / Title</td>
                <td>{{selected.travelerTrip.trip.title}}</td>
            </tr>
            <tr>
                <td>Date Completed</td>
                <td>{{selected.travelerTrip.dateCompleted}}</td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>{{selected.travelerTrip.rating}}</td>
            </tr>
            <tr>
                <td>My Review</td>
                <td>{{selected.travelerTrip.review}}</td>
            </tr>
            <tr>
                <td>My Notes</td>
                <td>{{selected.travelerTrip.tripNote}}</td>
            </tr>
            <tr>
                <td (click)='editTripRecord(selected.id)' type='button' style=background-color:greenyellow>EDIT THIS ENTRY</td>
            </tr>
        </table>
    </div>
    <div class="editTripRecord">
        <!--add *ngIf='editTripReview && displayTrips'-->
        <form #editReview='ngForm'>
            <table align='center'>
                <tr>
                    <td>My Trip Rating</td>
                    <td align='center'>
                        <fieldset class='rating' ngModel>
                            <input type="radio" id="5stars" name='rating' value='5' size='20' />
                            <label for='star5' title='text'>5 stars</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="4stars" name='rating' value='4' />
                            <label for='star4' title='text'>4 stars</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="3stars" name='rating' value='3' />
                            <label for='star3' title='text'>3 stars</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="2stars" name='rating' value='2' />
                            <label for='star2' title='text'>2 stars</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="1stars" name='rating' value='1' />
                            <label for='star1' title='text'>1 stars</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>My Review</td>
                    <td>
                        <textarea type='text' id='review_textbox' name='review' rows='10' cols='80' ngModel placeholder={{selected.tripRecord.review}}></textarea>
                    </td>
                </tr>
                <tr>
                    <td>My Trip Notes</td>
                    <td>
                        <textarea type='text' id='review_textbox' name='myNotes' rows='10' cols='80' ngModel placeholder={{selected.tripRecord.notes}}></textarea>
                    </td>
                </tr>
            </table>
            <button (click)='updateReview(editReview)'></button>
        </form>
    </div>
</body>