<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head></head>

<body class="w3-content" style="max-width:1200px">

<!-- 1st Left Profile Column ================================================================== -->
  <div align="center">TITLE GOES HERE {{trip.title}}</div>

  <br>
  <div class="column1">
    <div class="w3-display-container w3-text-white">
      <img src="assets/img/SpaceHotel.jpg" alt="{{trip.photoUrl}}" style="height:100%">
      <div class="w3-xlarge w3-display-bottomleft w3-padding">Luxury {{trip.name}}</div>
      <div class="w3-xlarge w3-display-bottomright w3-padding">LONDON 60&deg; F</div>

      <div class="subcolumn">
        <div class="w3-third w3-center">
          <h3>{{trip.provider}}</h3>
          <img height=100px src="{{assets/img/StarshipSpaceX.jpg}}" alt="{{trip.vehicleId}}">
        </div>
        <div class="subcolumn">
          <h3>{{trip.provider}}</h3>
          <img height=100px src="assets/img/SpaceXLogo.jpg" alt="{{trip.providerId}}">

        </div>
        <div class="subcolumn">
          <h3>{{trip.provider}}</h3>
        </div>
      </div>
    </div>

<!-- 1st RightColumn ========================================-------========================== -->
    <!-- Second Grid: Resent -->
    <span class="w3-row w3-section">
      <div class="subcolumn2">
        <h4>MOST RECENT WORK:</h4>
        <p>{{trip.provider}}</p>
        <div class="subcolumn2">
          <p>{{trip.details}}</p>
        </div>
        <div class="subcolumn2">
          <p>{{trip.description}}</p>
        </div>
      </div>
    </span>
  </div>

  <br>
  <!-- TABLE with departure information -->
  <hr>
  <div width="100%">
    <div>
      <table>
        <tr>
          <th>Departure Date</th>
          <th> Trip Length</th>
        </tr>
        <tr>
          <th>Departure Date</th>
          <th> Trip Length</th>
        </tr>
      </table>
      <span>
        <select>Passengers :
          <option value="1">1 Adult</option>
          <option value="2">2 Adult</option>
          <option value="3">3 Adult</option>
          <option value="4">4 Adult</option>
        </select>
      </span>

    </div>
  </div>


<!--    CARDS     ================================================================== -->
<div class="w3-row w3-section">
    <div class="w3-third w3-container w3-black w3-large" style="height:250px">
      <h2>Contact Info</h2>
      <p><i class="fa fa-map-marker" style="width:30px"></i> Chicago, US</p>
      <p><i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com</p>
    </div>
    <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:250px">
      <h2>Contact Us</h2>
      <p>If you have an idea.</p>
      <p>What are you waiting for?</p>
    </div>
    <div class="w3-third w3-center w3-large w3-grey w3-text-white" style="height:250px">
        <img id="img2" src="assets/img/SpaceHotel.jpg" alt="Space hotel">
        <h2>Share a Selfie from {{trip.destination}}</h2>
      <i class="w3-xlarge fa fa-facebook-official"></i><br>
      <i class="w3-xlarge fa fa-pinterest-p"></i><br>
      <i class="w3-xlarge fa fa-twitter"></i><br>
      <i class="w3-xlarge fa fa-flickr"></i><br>
      <i class="w3-xlarge fa fa-linkedin"></i>
    </div>

  </div>
<!--    Extenstion Disclosures and SELECT 1 Add ons.================================================================== -->
<br>
<h4>Add-On Excursions</h4>
<hr class ="col-md-2">

      <label class="checkbox-inline">
        <input type="checkbox" value="">Mars Excursion
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="">Mars Rover Landing Site
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="">Mars Colony
      </label>


  <!-- SUMMARY ========================================-------========================== -->
  <table width = 100%>
      <tr>
        <th>Summary</th>
        <th>Departure</th>
        <th>Trip Length</th>
        <th>Total Passengers</th>
        <th><strong>Total</strong></th>
      </tr>
      <tr>
        <td>trip.title</td>
        <td>trip.tripDate</td>
        <td>trip.tripLength</td>
        <td>Passengers</td>
        <th>trip.cost</th>
      </tr>
    </table>
    <br>
    <div align="right" >
        <button class="nav-item nav-link-edit" [routerLink]="['../details']"><i class="material-icons"> arrow_back</i>CANCEL</button >
        <button (click)="purchase(trip)" class="button fancy-button"><i class="material-icons"> flight_takeoff</i>PURCHASE</button>
      </div>
    <hr>

</body>
</html>
