<div *ngFor="let trip of trips">


    <br>

  <mat-card>

      <mat-card-content>
        <img [src]='trip.photoUrl' alt="card image" />
      </mat-card-content>
      <mat-card-title>{{ trip.title }}</mat-card-title>
      <mat-card-subtitle><b>Destination:</b> {{ trip.destination }}</mat-card-subtitle>
      <mat-card-subtitle><b>Number of days: </b>{{ trip.length }}</mat-card-subtitle>
      <mat-card-subtitle><b>Departure Date:</b> {{ trip.date }}</mat-card-subtitle>
      <mat-card-subtitle><b>$</b>{{ trip.cost }}</mat-card-subtitle>
      <div *ngIf="isTraveler()">
        <button mat-raised-button (click)='signUpForTrip(trip)'>Take This Trip</button>
      </div>
  </mat-card>

</div>


    <!-- <table align="center">
      <thead class="thead">
        <tr align="center">
          <td>{{ trip.title }}</td>
          <td>{{ trip.destination }}</td>
          <td><img src='{{ trip.photoUrl }}' alt="space photo"></td>
          <td>${{ trip.cost }}</td></tr>
          </thead> -->



