<!-- need intro / view their details / update their info / add trips / delete trips / update trips / view their trips-->

<h1>Hello {{selected.name}}</h1>
<h3>This is your companies account page.</h3>
<div class="center-container">
    <!--begins a container to center page / ends at bottom-->
    <!--ADD *ngIf="selected"  after things work, currently no traveler sent in-->
    <div class="start"></div>
    <form>
        <a>To view and update your details :<button (click)="compInfo()" sytle="margin: 20px">Companies Info</button><br></a>
        <a>To view/edit your offered Trips :<button (click)="setTrips()" style="margin: 20px">Our Trips</button><br></a>
        <a>To add a new Trips :<button (click)="addTrip()" style="margin: 20px">Add A Trip</button></a>

    </form>
</div>
</div>