<!-- need intro / view their details / update their info / add trips / delete trips / update trips / view their trips-->

    <h1>Hello {{selected.name}}</h1>
    <h3>This is your companies account page.</h3><br>

    <div>
      <h3 *ngIf="trips.length > 0">Your Trips</h3>
      <h3 *ngIf="trips.length < 1">No Trips Scheduled</h3>
      <div *ngFor="let trip of trips">
        <br />
        <mat-card>
          <mat-card-content>
            <img [src]="trip.photoUrl" alt="card image" />
          </mat-card-content>
          <mat-card-title>{{ trip.title }}</mat-card-title>
          <mat-card-subtitle
            ><b>Destination:</b>
            {{ trip.destination }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><b>Number of days: </b>{{ trip.length }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><b>Departure Date:</b> {{ trip.date }}</mat-card-subtitle
          >
          <mat-card-subtitle><b>$</b>{{ trip.cost }}</mat-card-subtitle>
          <button mat-raised-button (click)="deleteCompanyTrip(travTrip)">
            Delete This Trip
          </button>
          <button mat-raised-button (click)="goToEditTrip(trip)">
            Edit This Trip
          </button>
        </mat-card>
      </div>
    </div>

    <div class='addTrip' align='center'>

        <h2>Add A Trip</h2>
        <form #addTrip='ngForm'>
            <table align='center'>
                <tr>
                    <td>Vehicle Id (if known)</td>
                    <td><input type="number" name='vehicle' ngModel size='40' placeholder='Vehicle id' /></td>
                </tr>
                <tr>
                    <td>Launchport ID</td>
                    <td><input type='number' name='launchport' ngModel size='40' placeholder="Launchport id" />
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input type='text' name='title' ngModel size='40' placeholder="Title" /></td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td><input type='text' name='destination' ngModel size='40' placeholder="Destination" /></td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td><input type='number' name='cost' ngModel size='40' placeholder="Cost" /></td>
                </tr>
                <tr>
                    <td>Length of Trip</td>
                    <td><input type='number' name='length' ngModel size='40' placeholder="Length" /></td>
                </tr>
                <tr>
                    <td>Trip Date</td>
                    <td><input type='date' name='date' ngModel size='40' placeholder="Date" /></td>
                </tr>
                <tr>
                    <td>Photo URL</td>
                    <td><input type="text" name='photoUrl' ngModel size='40' placeholder="Photo URL" /></td>
                </tr>
            </table><br>
            <input type="hidden" name='providerId' value='selected.id'>
            <button type="submit" (click)='addAnotherTrip(addTrip)'>Create Trip</button>
        </form>
    </div>

