@import "~bootstrap/dist/css/bootstrap.css"

/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
<<<<<<< HEAD


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
=======
>>>>>>> d9567b5caf56f45ccaac08515b2a1f7794995457
