<p>Search By works!</p>
<!-- companies form for creating a provider or updating -->
<!-- NEEDS TO AUTO POPULATE with User Id to create Provider -->

<!-- Adding or updating company information -->

<!-- displays  companies via dropdown ) -->
<!-- would need to create searches by "@destination list"
And implment a ngFor loop for each option -->

<h2>Search for a Trip Destination</h2>

<form action="" method="POST" name="SearchByDestination">
<div align="center">Search By Destination<select name="mydropdown">
<option value="leo">Fly-By LEO (Low Earth Orbit)</option>
<option value="geo">GEO (Geostationary Orbit)</option>
<option value="geo">Space Hotel (L.E.O.)</option>
<option value="geo">International Space Station (I.S.S.)</option>
<option value="mars">MARS (Martian Colony)</option>
<option value="moon">Moon (Moon Base AFB)</option>
<option value="venus">Venus (Cloud City)</option>
</select></div>
</form>

<h3>Search By Provider</h3>

<form action="" method="POST" name="myform">
  <div align="center">Search By Provider<select name="mydropdown">
  <option value="leo">Space X</option>
  <option value="geo">United Launch Alliance </option>
  <option value="geo">Blue Origin </option>
  <option value="geo">Virgin Galactic</option>
  <option value="mars">Northrup Grumman</option>
  <option value="moon">NASA</option>
  <option value="venus">Bigelow Aerospace </option>
  <option value="venus">Boeing </option>
  <option value="venus">Sierra Nevada Corporation </option>
  </select></div>
  </form>
